<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funny.developers.musicstylelist"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/playstyle_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:windowSoftInputMode="adjustPan" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 필요 액티비티 -->
        <activity android:name="com.funny.developers.musicstylelist.mainactivity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.funny.developers.musicstylelist.activity.PlayListDetailActivity" />
        <activity android:name="com.funny.developers.musicstylelist.activity.UserPlayListDetailActivity" />
        <activity android:name="com.funny.developers.musicstylelist.activity.PlayerViewActivity" />
        <activity android:name="com.funny.developers.musicstylelist.activity.SettingsActivity" />

        <!-- 광고용 -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service
            android:name="com.funny.developers.musicstylelist.player.MusicStyleListMediaPlayer"
            android:enabled="true" />
    </application>

</manifest>